<div th:fragment="content">
    <p style="margin: 0; margin-bottom: 3px" class="content">To: <span th:text="${toName}" class="content-mainText">{toName}</span></p>
    <p th:text="${toPosition}" class="content-smallText" style="text-indent: 28px; text-transform: capitalize">{toPosition}</p>
    <p style="text-indent: 28px;" class="content-smallText">City of <span th:text="${city}" class="content-smallText" style="text-transform: capitalize">{city}</span></p>

    <br/>
    <br/>
    <br/>

    <p style="text-indent: 28px" class="content">This is certify that
        <span th:if="${forSelf}" th:text="${applicantName} + '. '" class="content-mainText" style="text-transform: capitalize">{applicantName}</span>
        <span th:unless="${forSelf}" th:text="${requestorName} + '. '" class="content-mainText" style="text-transform: capitalize">{requestorName}</span>Is a Filipino Citizen and bonafide resident of
        <span th:text="${address}" class="content-mainText" style="text-transform: capitalize">{address}</span>, BRGY. ZONE
        <span th:text="${zone}" class="content-subText" style="text-transform: uppercase">{zone}</span>,
        <span th:text="${city}" class="content-subText" style="text-transform: uppercase">{city}</span> City,
        <span th:text="${province}" class="content-subText" style="text-transform: uppercase">{province}</span>.</p>

    <br/>
    <br/>

    <p style="text-indent: 28px" class="content">It is further certified that above-named individual belongs to a low/no income bracket or an indigent family in this Barangay.</p>

    <br/>
    <br/>

    <p style="text-indent: 28px" class="content" th:if="${forSelf}">This certification is being issued upon the request of above mention name for the purpose/s of compliance to <span th:text="${purpose}" class="name" style="text-transform: capitalize">{purpose}</span>.</p>
    <p style="text-indent: 28px" class="content" th:unless="${forSelf}">This certification is being issued upon the request of above mention name for the purpose/s of her <span th:text="${purpose}" class="name" style="text-transform: capitalize">{purpose}</span> of her husband,
        <span th:text="${applicantName}" class="name" style="text-transform: capitalize">{applicantName}</span>.</p>

    <br/>
    <br/>
    <br/>

    <p style="text-indent: 28px" class="content">Given this
        <span th:text="${day}" class="content-subText">{day}</span>th day of
        <span th:text="${month}" class="content-subText">{month}</span>,
        <span th:text="${year}" class="content-subText">{year}</span></p>

    <br/>
    <br/>
    <br/>
    <br/>

    <table style="width: 100%;">
        <tr>
            <td style="text-align: right; vertical-align: middle;">
                <p style="text-align: center; display: inline-block;">
                    <span th:text="${name}" class="name">{name}</span>
                    <br/>
                    <span th:text="${position}" class="content-smallText">{position}</span>
                </p>
            </td>
        </tr>
    </table>
</div>